body {
  background-image: url("images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gameboard {
  height: 500px;
  width: 700px;
  background-image: url("images/background.jpg");
  position: relative;
  margin: 0 auto;
  top: 5px;
}
@font-face {
  font-family: southpark;
  src: url("southpark.ttf");
}
h1 {
  text-align: center;
  font-family: southpark;
  font-size: 35px;
}
h2 {
  text-align: center;
  font-family: southpark;
}
.score {
  position: absolute;
  top: 0;
  right: 25px;
}
#counter {
  position: absolute;
  top: 0;
  right: 11px;
  font-size: 33px;
}
.item {
  height: 90px;
  width: 50px;
  background-image: url("images/cheesypoofs.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  transition: all linear;
}
@keyframes fall {
  0% {top: 0;}
  100% {top: 350px;}
}
#cartman {
  height: 80px;
  width: 80px;
  background-image: url("images/cartman.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.winMessage {
  position: absolute;
  height: 250px;
  width: 500px;
  top: -500px;
  right: 100px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  text-align: center;
  font-family: southpark;
  font-size: 3em;
  line-height: 250px;
  transition: all 2s linear;
  border-radius: 10%;
}
.audio {
  display: none;
}
#instructions {
  position: absolute;
  top: 18%;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  border-radius: 10%;
  font-family: southpark;
  font-size: 20px;
}
.mrhankey {
  background-image: url("images/mrhankey.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 80px;
  width: 50px;
  transition: all linear;
}
#scoreboard {
  position: absolute;
  top: 33%;
  right: 7px;
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  border-radius: 10%;
  font-family: southpark;
  font-size: 30px;
}
.score {
  padding-right: 38px;
}
#clock {
  position: absolute;
  top: 18%;
  right: 7px;
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  border-radius: 10%;
  font-family: southpark;
  font-size: 30px;
}
#level {
  font-family: southpark;
  text-align: center;
  font-size: 28px;
}
#timer {
  text-align: center;
  margin-top: -16px;
}
#start {
  position: absolute;
  left: 43%;
  top: 85%;
  text-align: center;
  height: 40px;
  width: 150px;
  background-color: lightgrey;
  border-radius: 10%;
  font-family: southpark;
  font-size: 20px;
  padding-top: 8px;
}
